/* main.css */

body{
	/*background-image: url('../images/background.png');*/
}

/* Custom ID */
#title {
	position: relative;
	padding-top:30px;
	padding-left:26%;
	font-size: 4em;
}
#title h1{
	/*color: white;*/
}

#command h1{
	font-size:1.5em;
}

#risks{
	margin-top: 10px;
	margin-bottom: 10px;
}

#map{
	height: 500px;
	width: 100%;
}