/* main.css */

body{
	background-image: url('../images/background.png');
}

/* Custom ID */
#title {
	position: relative;
	padding-top:30px;
	padding-left:26%;
	font-size: 4em;
}
#title h1{
	color: white;
}
#command {
	position: relative;
	padding-top:30px;
	padding-left:20%;
}
#command h1{
	font-size:1.5em;
}
#species {
	position:relative;
	padding-top:35px;
	padding-left:23%;
	padding-right:23%;
}	
#species h1{
	color:white;
	font-size:1.7em;
}
#location {
	position:relative;
	padding-top:35px;
	padding-left:23%;
	padding-right:23%;
}
#location h1 {
	color:white;
	font-size:1.7em;
}