/* main.css */

body{
	background-image: url('../images/background.png');
}

/* Custom ID */
#title {
	position: relative;
	padding-top:30px;
	padding-left:26%;
	font-size: 4em;
}
#title h1{
	color: white;
}
.col-md-12 {
	position: relative;
	padding-top:30px;
	padding-left:20%;
}
.col-md-12 h1{
	font-size:1.5em;
}
.col-md-6 {
	position:relative;
	padding-top:50px;
	padding-left:10%;
}	
.col-md-6 h1{
	color:grey;
	font-size:1.7em;
}